.related-products {
  max-width: 1200px;
  margin: 0 auto;
}

.related-heading {
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 24px;
}

.container {
  margin-left: 55px;
}

.cardContainer {
  display: flex;
  gap: 40px;
  position: relative;
  margin: 0 auto;
}

.outfitList {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: flex-start;
}
/* *********** Card ********** */
.card {
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 20px;

  position: relative;
}

.card-text {
  font-size: 14px;
  margin-left: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-img {
  width: 240px;
  height: 260px;
  margin-bottom: 12px;
}

.card-category {
  text-transform: uppercase;
  color: #495057;
}

.card-name {
  font-size: 18px;
}

.card-text > .price {
  padding: 0;
}

.addOutfit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 373px;
}

/* **********  buttons  ********* */
.btn {
  cursor: pointer;
}

/* carousel indicators */
.arrow-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(241, 243, 245, 0.303);
  width: 36px;
  height: 36px;
  /* border: 1px solid #000; */
  border-radius: 50%;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);
  position: absolute;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.right-arrow:hover, .left-arrow:hover {
  color: 0 3.2px 6.4px rgba(0, 0, 0, 0.2);
}

.left-arrow {
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
  z-index: 50;
}

/* action buttons */
.action-button {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #ffe066;
  font-size: 20px;

  position: absolute;
  transition: all 0.3s;
}

.action-button:hover {
  color: #e6ac26;
  transform: scale(1.2);
}

.cross-btn {
  color: #000;
  font-weight: 700;
  transition: all 0.3s;
}

.cross-btn:hover {
  color: #fff;
}

/* action buttons */
.addOutfit-btn {
  font-size: 18px;
  box-sizing: border-box;
  padding: 12px 16px;
  box-shadow: 0 3.2px 6.4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s;
}

.addOutfit-btn:hover {
  font-size: 19px;
}

/* close btn in modal */
.closeModal-btn {
  position: absolute;
  top: 8px;
  right: 12px;
}

.closeModal-btn:hover {
  color: #92969a;
}

/* ********* Comparison modal *********** */

.compModal {
  width: 50%;
  min-height: 300px;
  margin: 100px auto;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  position: relative;
}

.modalBox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 199;
}

.compModal h4 {
  font-weight: 400;
  font-size: 16px;
  color: #495057;
  margin: 24px 48px;
}

.comp-table {
  margin: 50px auto;
  text-align: center;
  border-collapse: collapse;
}

.comp-td {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  padding-left: 12px;
  padding-right: 12px;
}

tbody tr:nth-child(even) {
  background-color: #f1f3f5;
  border-top: 12px solid #f1f3f5;
  border-bottom: 12px solid #f1f3f5;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.modal-features {
  width: 250px;
}

thead th {
  background-color: #495057;
  color: #fff;
  padding: 6px 12px;
}

thead th:first-child {
  border-top-left-radius: 6px;
}

thead th:last-child {
  border-top-right-radius: 6px;
}
