body.active-modal {
  overflow-y: hidden;
}

.main-container {
  box-sizing: border-box;
  height: 100vh;
  margin: 5% 15%;
}

.main-container h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2F4858;
}

.row {
  display: flex;
  flex-direction: row;
  min-height: 100px;
}

.column1,
.column2 {
    height: 100%;
    padding: 10px;
  }

  .column1 {
    flex-basis: 28%;
    margin-right: 2%;
  }

  .column2 {
    flex-basis: 70%;
  }

  .review-list-buttons {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
  }

  .more-reviews,
  .add-review,
  .add-review-btn {
    background: transparent;
    font-size: 16px;
    padding: 10px;
    margin: 15px 0 0 10px;
    cursor: pointer;
    border-radius: 8px;
    background: #2F4858;
    color: white;
  }

  .footer {
    height: 5%;
  }

  @media only screen and (max-width: 800px) {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .modal-add-review {
      max-width: 80vw;
      max-height: 80vh;
      background-color: white;
      position: relative;
      overflow: scroll;
    }
    .modal-add-review form {
      display: flex;
      flex-direction: column;
      margin: 5% 10%;
    }
    .overall-stars {
      padding: 7% 0;
      border-bottom: 2px solid black;
    }
    .large-rating-number {
      font-size: 64px;
      margin-right: 12px;
      margin-left: 10px;
      color: #2F4858;
    }
  }