.screen-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 600px;
  max-width: 600px;
}

.modal button {
  position: absolute;
  top: 15%;
  right: 20%;
  background: transparent;
  color: beige;
}

.modal button:active {
  background: rgba(0, 0, 0, 0.8);
}

.modal-add-review {
  height: 75vh;
  width: 50vw;
  background-color: white;
  position: relative;
}

.modal-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  line-height: 25px;
}

.close-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 16px;
  cursor: pointer;
  padding: 2px;
}

.overall-stars {
  margin: 20px 75px;
  position: relative;
}
.overall-label {
  margin-bottom: 10px;
}
.star-selected-msg {
  position: absolute;
  top: 45%;
  left: 25%;
  font-size: 12px;
  color: #A8A8A8;
}

.dividing-bar {
  height: 2px;
  width: 350px;
  margin: 20px 0;
  background-color: #A8A8A8;
}

.would-recommend {
  margin: 20px 75px;
}

.recommend-label {
  margin-bottom: 10px;
}
