.rating-summary {
  display: flex;
  margin-bottom: 10px;
}

.large-rating-number {
  font-size: 64px;
  margin-right: 12px;
  margin-left: 10px;
}

.percent {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
  margin-left: 10px;
}

.all-rating-bars {
  padding: 10px;
}

.rating-bar {
  display: flex;
  margin-bottom: 5px;
}

.bar-label {
  display: flex;
  width: 60px;
  text-decoration: underline;
}

.rating-qty {
  font-size: 10px;
}

.bar-row,
.pf-icon-row,
.product-factor-row,
.product-factor-row2 {
  display: flex;
  width: 100%;
}

.bar-col1 {
  background-color: #525252;
}

.bar-col2 {
  background-color: #EBEBEB;
}

.product-factor-container {
  padding: 10px;
}

.pf-icon-row {
  position: relative;
}

.pf-icon-row .fa-caret-down {
  position: absolute;
  top: -8px;
}

.factor-name {
  font-size: 14px;
  color: #808080;
  margin-bottom: 5px;
}

.pf-col1,
.pf-col2,
.pf-col3 {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  height: 10px;
  margin-right: 3px;
}
.pf-col1,
.pf-col3 {
  flex-basis: 30%;
}

.pf-col2 {
  flex-basis: 40%;
}

.product-factor-row2 {
  justify-content: space-between;
  margin-top: 5px;
}

.pf-descrip-col1,
.pf-descrip-col2,
.pf-descrip-col3 {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: #808080;
}