.empty-star,
.half-star,
.quarter-star,
.three-quarter-star {
  display: inline-block;
  position: relative;
  /* color: #ABAEB5; */
  color: #2F4858;
  font-size: 0.75em;
  z-index: -1;
}
/* can't combine these common properties on an after? */
.half-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #F6AE2D;
}
.quarter-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  overflow: hidden;
  color: #F6AE2D;
}
.three-quarter-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 65%;
  overflow: hidden;
  color: #F6AE2D;
}
.whole-star {
  color: #F6AE2D;
  font-size: 0.75em;
}
