#Overview {
  display: flex;
  height: 75vh;
  width: 100vw;
  position: relative;
}

.review-link {
  text-decoration: underline;
  color: blue;
}

.info-and-style-selector {
  display: block;
}

.style-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.style-thumbnail-buttons {
  display: inline-flex;
  justify-content: center;
  background-color: inherit;
  cursor: pointer;
  border-style: hidden;
  border-radius: 60px;
  height: 110px;
  width: 110px;
}

.style-selector-thumbnails {
  height: 96px;
  width: 96px;
  object-fit: cover;
  border-style: hidden;
  border-radius: 56px;
}

.fa-check {
  position: relative;
  top: 10px;
  left: 16px;
}

.empty-circle {
  position: relative;
  display: flex;
  top: -10px;
  left: 13px;
  height: 16px;
  width: 16px;
  border-style: solid;
  border-radius: 50%;
  border-color: #36ca25;
}

.price {
  display: inline-flex;
  padding-bottom: 24px;
  white-space: nowrap;
}

.title {
  width: 100%;
  white-space: nowrap;
}

.product-category {
}

.checkmark {
  transform: rotate(0deg);
  left: -18%;
  top: -36%;
  height: 10px;
  width: 5px;
  position: relative;
}

.style-name {
  margin: auto;
  padding-left: 12px;
  padding-top: 24px;
  white-space: nowrap;
}

.stars {
}

.sale-price {
  color: red;
  padding-right: 16px;
}

.original-price {
  text-decoration: line-through;
}

.image-gallery-box {
  width: 50vw;
  height: 75vh;
}
.image-gallery {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  overflow: hidden;
}

.image-gallery img{
  object-fit: contain;
  height: 100%;
  width: 75%;
  margin: auto;
  display: grid;
}

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
}

.single-img {
  display: flex;
  inset: 0;

  transition: All 0.5s ease-in-out;
}

.thumbnails {
  position: absolute;
  z-index: 2;
  overflow-y: scroll;
  height: 75%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}

.single-thumbnail {
  width: 32%;
  padding-left: 0;
}

.single-thumbnail:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.thumbnail-underline {
  border-style: solid;
}

.single-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-button {
  position: absolute;
  z-index: 3;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, .25);
}
.prev {
  left: 6rem;
}

.next {
  right: 1rem;
}

.add-to-cart-box {
  display: block;
  height: 18vh;
}

.add-to-cart {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
  border: 1px solid black;
  height: 100%;
  justify-content: space-around;
}

.size-dropdn {

}

.qty-dropdn {

}

.dropdn-btn {
  background: none;
  /* border: none; */
  text-decoration: none;
  color: black;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  width: 20%;
}

/* .dropdn > .dropdn-btn:focus,
.dropdn-btn:hover {
  color: black;
} */

.dropdn {
  position: relative;

}

.dropdn-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdn > .dropdn-btn:focus + .dropdn-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.data-grid {

}