.answer-photo {
  max-width: 150px;
  max-height: 150px;
  margin-right: 10px;
}
.answer-individual {
  margin-left: 2%;
  border-style: groove;
}
.answer-body {
  margin-bottom: 0.5%;
  max-width: 50%;
}
.helpful-text {
  margin-right: 10px;
}
.button {
  margin-right: 10px;
}
.answer-username {
  display: flex;
}
.answer-date {
  margin-left: 10px;
}
.answer-first-line {
  display: flex;
  justify-content: space-between;
}