.answer {
  display: flex;
  justify-content: right;
}
.answer-info {
  display: flex;
}
.answer-username, .answer-date, .answer-buttons {
  display: inline-block;
  margin-right: 10px;
}
.answer-photo {
  max-width: 100px;
  margin-right: 10px;
}
.answer-photo-container {
  display: flex;
}
.answer-individual {
  border-style: groove;
}