.QnA-Component {
  display: flex;
  flex-direction: column;
}
.QnA-Widget-Title {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 2%;
}
.QnA-Options {
  display: flex;
  align-items: center;
  margin-bottom: 0.5%;
}
.QnA-Options > div:not(:last-child) {
  margin-right: 0.5%;
}