.QnA-Component {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: grey;
}
.QnA-Widget-Title {
  text-align: left;
  font-size: 20pt;
  margin-bottom: 2%;
}
.QnA-Options {
  display: flex;
  justify-content: space-between;
}
.QnA-Add-Question-Button {
  background: transparent;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin-right: 15px;
  background-color: #2f4858;
  color: white;
  border-radius: 8px;
  transition: all 0.3s;
}
.QnA-OnlyPics {
  background: transparent;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #2f4858;
  color: white;
  border-radius: 8px;
  transition: all 0.3s;
}
.QnA-Buttons {
  display: flex;
}
.QnA-OnlyPics:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #596d79;
}
.QnA-Add-Question-Button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #596d79;
}
/* #plus-sign {
  font-size: 12pt;
} */