.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #F6AE2D; */
  border-style: groove;
  padding: 10px;
  margin-bottom: 1%;
  box-shadow: 5px 5px rgba(104, 104, 104, 0.15);
}
/* .question-body {
  max-width: 50%;
} */
.big-Q {
  font-size: 21.3px;
  margin-right: 5px;
  font-weight: bold;
}
.question-text {
  display: flex;
  align-items: center;
}
.question-buttons {
  font-size: 12px;
}
.question-body {
  width: 500px;
}
.more-answers {
  background: transparent;
  border: none;
  font-size: 12px;
  padding: 10px;
  margin: 15px 0 10px 0px;
  cursor: pointer;
  text-decoration: underline;
}
.down-arrow {
  margin-left: 50px;
  color: grey;
}
/* .down-arrow:hover {
  cursor: pointer;
  color: #C7511F;
} */

.more-answers:hover {
  cursor: pointer;
  color: #C7511F;
}

/* .answer-list {
  background-color: #fbdfab;
} */