.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .question-body {
  max-width: 50%;
} */
.big-Q {
  font-size: 24pt;
  margin-right: 5px;
}
.question-text {
  display: flex;
  align-items: center;
}
.question-buttons {
  font-size: 10pt;
}
.question-body {
  max-width: 500px;
}
.more-answers {
  margin-left: 3%;
  margin-bottom: 10px;
}