/* .QnAList-Component {
  display: flex;
} */
.QnAList-Component {
  max-height: 50vh;
  overflow: scroll;
}
.QnAList-Component::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  /* scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  background-color: #aaa; */
}
.show-more-button {
  background: transparent;
  font-size: 12px;
  padding: 10px;
  margin: 15px 0 0 10px;
  cursor: pointer;
}

.show-more-button:hover {
  cursor: pointer;
  color: #C7511F;
}